/* modal  */
.modalpregunta img {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 300;
	display: block;
	left: 0%;
	top: 0%;
}

.closeModalpregunta {
	position: absolute;
	width: 8%;
	height: 14%;
	z-index: 1000;
	top: 16%;
	right: 12%;
	cursor: pointer;
}

/* repsuestas correctas */
.opcion {
	width: 40.8%;
	height: 10.6%;
	position: absolute;
	top: 47.2%;
	left: 9.5%;
	border-radius: 36px;
	z-index: 1000;
	cursor: pointer;
}

.correcta {
	position: absolute;
	width: 40.4%;
	top: 47%;
	left: 9.3%;
	cursor: pointer;
	z-index: 1000;
}

.correcta img {
	width: 100%;
	height: 100%;
}

/* modal 1  */
.modal img {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 42%;
    height: 67%;
    z-index: 1000;
    display: block;
    right: 5.3%;
    top: 21.5%;
}

.closeModal {
	position: absolute;
	width: 6%;
	height: 11%;
	z-index: 1000;
	top: 25%;
	right: 15%;
	cursor: pointer;
}

/* modal 2 */
.modal1 img {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 40%;
	height: 60%;
	z-index: 1000;
	display: block;
	right: 5.3%;
	top: 21%;
}

.closeModal1 {
	position: absolute;
	width: 6%;
	height: 11%;
	z-index: 1000;
	top: 15%;
	right: 6.6%;
	cursor: pointer;
}

/* modal 3 */
.modal2 img {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 40%;
	height: 60%;
	z-index: 1000;
	display: block;
	right: 5.3%;
	top: 21%;
}

.closeModal2 {
	position: absolute;
	width: 6%;
	height: 11%;
	z-index: 1000;
	top: 15%;
	right: 6.6%;
	cursor: pointer;
}

/* modal 4 */
.modal3 img {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 40%;
	height: 60%;
	z-index: 1000;
	display: block;
	right: 5.3%;
	top: 21%;
}

.closeModal3 {
	position: absolute;
	width: 6%;
	height: 11%;
	z-index: 1000;
	top: 15%;
	right: 6.6%;
	cursor: pointer;
}
/* repsuestas correctas */
